body {
  background-color: black;
  background-image: url(snowy-mountain-gray-srgb.jpg.png);
  background-repeat: no-repeat;
  background-size: cover;

} .head1 {
  background-image: url(Unknown2.jpeg);
  background-attachment: fixed;
  text-align: center;
} .thelogo {
  width: 37px;
  height: 37px;
  margin-top: 6px;
  margin-left: 10px;
  float: left;
} .logotext {
  font-family: Arial, Helvetica, sans-serif;
  color: blanchedalmond;
  padding-top: 10px;
} .products {
  background-image: url(Image\ 10-1-23\ at\ 4.00\ PM.jpg);
  background-attachment: fixed;
} .productH {
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 15px;
  color: grey;
  text-align: center;
} .blurb {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
} .listS {
  border: 10px outset grey;
  background-color: red;
} input {
  background-color: grey;
  color: red;
} .listA {
  border: 10px outset grey;
  background-color: red;
  float: left;
} .listB {
  border: 10px outset grey;
  background-color: red;
  float: right;
} .blurb1 {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(78, 4, 88);
}