body {
  background-image: url(download.png);
  color: white;
} .thing {
  position: absolute;
  color: white;
  border-color: white;
  background-color: red;
  left: 150px;
  top: 20px;
} .items {
  position: fixed;
  background-color: red;
  color: white;
  border-color: white;
  z-index: 2;
} .items2 {
  position: absolute;
  background-color: red;
  color: white;
  border-color: white;
  z-index: 2;
} .caveEnter {
  position: absolute;
  background-color: black;
  left: 500px;
  top: 170px;
} .shop {
  position: absolute;
  background-color: #00006480;
  border: 5px solid black;
  left: 250px;
  top: 300px;
} .lilMenu {
  position: fixed;
  background-color: red;
  color: white;
  border-color: white;
  size: 10px;
  z-index: 2;
} .buzz {
  position: absolute;
  background-color: #00006480;
  border: 5px solid black;
  left: 760px;
  top: 235px;
} .house1 {
  position: absolute;
  background-color: #00006480;
  border: 5px solid black;
  left: 500px;
  top: 400px;
} .house2 {
  position: absolute;
  background-color: #00006480;
  left: 232px;
  top: 422px;
} .tallDiv {
  height: 40000px;
  width: 40000px;
  position: absolute;
  z-index: 1;
  top: 0px;
} .caveMark {
  position: absolute;
  left: 5000px;
  top: 20px;
  background-color: #00006480;
  border: 5px solid;
} .houseMark {
  position: absolute;
  left: 7000px;
  top: 7000px;
  width: 500px;
  background-color: #43ff41c2;
  border: 5px solid;
  z-index: 1;
} .coins {
  background-color: yellow;
  position: absolute;
  top: 9000px;
} .bed {
  position: absolute;
  left: 7441px;
  top: 7459px;
  width: 18px;
  height: 18px;
  background-color: blue;
  z-index: 2;
} .kids {
  position: absolute;
} .table {
  position: absolute;
  left: 7423px;
  top: 7190px;
  z-index: 2;
  width: 18px;
  height: 18px;
  background-color: brown;
} .foes {
  width: 18px;
  height: 18px;
  background-color: white;
  position: absolute;
}