.mainDiv {
  background-color: black;
  color: white;
  text-align: center;
  font-family: arial;
  font-size: 20px;
  position: fixed;
  border-radius: 15px;
} .menuBar {
  background-color: darkblue;
  color: white;
  border: 0px;
  border-radius: 10px;
  font-family: arial;
  font-size: 15px;
} .mainText {
  text-align: center;
} .text {
  color: red;
  font-family: arial;
  font-size: 50px;
} .inner {
  color: red;
  font-family: arial;
  font-size: 25px;
} .asked {
  color: red;
  font-family: arial;
  font-size: 15px;
} .quienes {
  margin: 0px;
  background-image: url(Unknown.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
} .notice {
  color: white;
  font-family: arial;
  font-size: 10px;
}