.cools {
    background-color: burlywood;
} .mainBox {
    border-color: aqua;
    border-radius: 20000px;
    background-color: bisque;
    text-align: center;
} .bigText {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
} .baddy {
    background-color: darkred;
} .gove {
    background-color: black;
} .finalFight {
    background-image: url(Understanding-Colors.png);
} .gove2 {
    background-color: black;
    text-align: center;
}
